{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus at, voluptate reprehenderit atque in ipsam
            cupiditate distinctio minus magni aut reiciendis? Quae, vitae tempora at, odit libero delectus eum enim, et fuga
            culpa suscipit nostrum? Optio, laudantium esse nostrum minima nam nihil officiis nobis praesentium illum cumque
            natus perspiciatis eum, ullam possimus delectus accusamus quia corporis accusantium. Nemo quia fuga nobis,
            nesciunt, quod temporibus vel impedit fugiat autem voluptatum laudantium blanditiis odit. Ab, totam? Nihil
            veniam provident temporibus delectus porro asperiores iusto, quod placeat laborum deleniti laboriosam, ducimus
            laudantium dignissimos aliquid repellat expedita odit. Culpa repudiandae blanditiis consectetur dolores eos?</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>    
    </section>
</main>
{% endblock %}